* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


/********************HEADER*********************/

header div {
    height: 18vh;
}

h1 {
    color: rgb(139, 0, 0);
    text-align: center;
}

header nav {
    background-color: rgb(139, 0, 0);
}

header nav ul {
    display: flex;
    height: 4vh;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    list-style: none;
}

header nav ul li a:hover {
    color: rgb(247, 78, 78);
}

header nav ul li a {
    color: whitesmoke;
    text-decoration: none;
}

header {
    background-color: rgb(248, 211, 211);
    background-image: url(../img/pastel.jpg);
    margin-top: -1, 2em;
}

div nav ul li a:hover {
    text-decoration: none;
}

div nav ul li {
    list-style: none;
}

.panel {
    background-position-x: left;
    border-radius: 20px;
    width: inherit;
    margin: inherit;
}

a {
    color: #f5f5f5;
    text-decoration: none;
}


/********************CLASES*********************/

.logo {
    height: 100px;
    width: 200px;
}

.centrado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.iconSocial {
    width: 38px;
    height: 31px;
    border-radius: 16px;
    margin: 0.2em;
}

.redesSociales {
    display: flex;
    align-items: center;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    flex-wrap: wrap;
}

.centro {
    justify-content: center;
}

.tarjeta {
    width: 45%;
    margin: 5px;
    padding: 10px;
    display: flex;
}

.tarjeta div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagen_tarjeta {
    height: 100px;
    width: 200px;
    border-radius: 53px 53px 0px 53px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 3px rgb(139, 0, 0) solid;
    background-color: #ffffff;
}

.fondo_imagen {
    height: 100px;
    width: 200px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 3px rgb(139, 0, 0) solid;
    background-color: #cde7e7;
}

.centrados {
    text-align: center;
}

.lista_tarjeta {
    list-style: none;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3_tarjeta {
    padding-left: 10px;
    margin-bottom: 0.3em;
}

.texto_centrado {
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.img_ {
    height: 200px;
    width: 230px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    flex-direction: column;
}

.letra_h3 {
    color: rgb(139, 0, 0);
    margin: 50px;
    font-size: 28px;
    text-align: center;
}

.circulo1 {
    padding-left: 10px;
}

.cir_culo {
    border: 10px solid rgb(139, 0, 0);
    border-radius: 20px;
    text-align: center;
    background-color: rgb(139, 0, 0);
    color: white;
    width: 200px;
    margin: auto;
}

.conteniendo {
    list-style: none;
    display: flex;
    width: 85%;
}

.cir_culo:hover {
    background-color: rgb(204, 204, 255);
    color: rgb(12, 12, 12);
}

.letra {
    font-weight: bold;
    font-size: 16px;
}

.inscripcion {
    border: 3px rgb(139, 0, 0) solid;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(139, 0, 0);
    color: #f5f5f5;
    width: 9vw;
    margin-top: 0.3em;
}

.inscripcion:hover {
    background-color: rgb(247, 78, 78);
    color: rgb(139, 0, 0);
    cursor: pointer;
}

.arriba {
    border-radius: 50%;
    border: 2px solid rgb(248, 211, 211);
    width: 2em;
    height: 2em;
    display: block;
    background-color: rgb(139, 0, 0);
    background-image: url(../img/arriba.png);
    background-size: contain;
    position: fixed;
    bottom: 15px;
    right: 15px;
}


/***********Establecimiento*****************/

.sedes_contenedora {
    margin: auto;
    margin-bottom: 0.6px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px 5px 8px;
}

.sedes_total {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-right: 20px;
}

.sedes {
    margin: 15px;
    padding: 10px;
    border: 3px rgb(139, 0, 0) solid;
    border-radius: 5%;
    background-color: white;
    box-sizing: border-box;
    width: 380px;
    height: 550px;
}

.sedeH3 {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: oblique;
}

.sedeH4 {
    margin: 0;
    font-size: 15px;
    text-decoration: underline;
    text-align: center;
    color: sienna(247, 78, 78);
    padding-top: 2px;
    padding-bottom: 2px;
}

.sedes_p {
    margin: 0;
    margin-bottom: 2px;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 0px;
    color: #000;
}

.boton {
    display: inline-block;
    padding: 5px;
    border: rgb(139, 0, 0) solid 1px;
    background-color: white;
    color: rgb(139, 0, 0);
    margin: 50px;
    font-size: 13px;
    position: relative;
    margin-bottom: 5px;
    margin-top: 15px;
    margin-right: 30px;
}

.img_sedes {
    border: rgb(139, 0, 0) 1px solid;
    max-width: 100%;
    width: 350px;
    height: 260px;
    margin-bottom: 5px;
}


/**************** FORMULARIO *****************/

.formulario {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    text-align: center;
    border: 2px solid rgb(139, 0, 0);
    border-radius: 15px;
}

.formulario label {
    margin: 5px 0;
}

.formulario textarea {
    width: 50%;
    margin: auto;
    height: 15vh;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.formulario legend {
    text-decoration: underline;
}

.formulario input {
    border: none;
    background-color: rgb(248, 211, 211);
    border-bottom: 1px solid rgb(139, 0, 0);
}

.formulario input[type=submit] {
    border: 2px solid rgb(139, 0, 0);
    background-color: rgb(139, 0, 0);
    width: 40%;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    color: whitesmoke;
    margin-bottom: 10px;
}

.formulario input[type=submit]:hover {
    color: rgb(139, 0, 0);
    box-shadow: 5px 2px 2px red;
}


/****************INSCRIPCIONES******************/

.inscripciones {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    margin-bottom: 2em;
    border: 2px solid rgb(139, 0, 0);
    border-radius: 1.5em 0.5em 1.5em 0.5em;
    background-color: white;
    color: rgb(139, 0, 0)
}

.inscripciones label {
    margin: 0.8em;
    text-decoration: underline;
    text-align: left;
    font-size: 1.5em;
    font-style: italic;
}

.inscripciones input,
select,
option,
[type=radio] {
    font-size: 1em;
    margin: 2em;
    border: 1px solid rgb(139, 0, 0);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.inscripciones-datos p {
    font-size: 1.5em;
    font-weight: bold;
    font-style: oblique;
    margin: auto;
}

.terminos {
    font-size: smaller;
}

.boton-finalizar {
    display: inline-block;
    border: 2px solid rgb(139, 0, 0);
    background-color: white;
    width: 30%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 15px;
    color: rgb(139, 0, 0);
    text-align: center;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
}

.boton-finalizar:hover {
    color: rgb(15, 9, 9);
    background-color: rgb(169, 169, 184);
    box-shadow: 5px 2px 2px red;
    transition: 0.5s;
    cursor: pointer;
}


/********************BODY***********************/

body {
    background-color: rgb(248, 211, 211);
}

main {
    width: 90%;
    margin: auto;
}

h2 {
    color: rgb(139, 0, 0);
    margin: 30px 0px;
    text-align: center;
}

main p {
    text-align: center;
    font-size: 20px;
    margin: 30px 50px;
    padding: 20px;
}


/*******************FOOTER**********************/

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(139, 0, 0);
    color: whitesmoke;
    padding: 30px;
    height: 15vh;
}

footer h5 {
    margin-bottom: 5vh;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}


/*******************NOSOTROS**********************/

.contenedor1 {
    flex-wrap: wrap;
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
}

.tarjeta1 {
    width: 45%;
    margin: 5px;
    padding: 10px;
    display: flex;
}

.tarjeta1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}

.tit_tarjeta {
    font-size: 16px;
}

.detalle_nos {
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-align: center;
}

.img_nos {
    width: 120x;
    height: 120px;
}